.label {
    opacity: 60%;
    margin-bottom: 10px;
    margin-right: auto;
}

.filter {
    border: 1px solid rgb(63, 94, 251);
    border-radius: 3px;
    padding: 5px 10px;
    width: 334px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.854);
    font-size: 15px;
}