* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: rgb(24, 5, 79);
}

a {
    background-image: linear-gradient(to right,
            #5854d6,
            #d654cd 50%,
            rgb(24, 5, 79) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-position: 0;
    }

    &:before {
        content: '';
            background: #5854d6;
            display: block;
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 3px;
            transition: all 0.3s ease-in-out;
    }

    &:hover::before {
        width: 100%
    }  
}

.active {
    color: red;
}

.box {
    max-width: 400px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    

    &_forForm {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-color: rgba(240, 223, 223, 0.422);

        padding: 30px 30px;
        border-radius: 10px;
        opacity: 0.9;
        box-shadow: rgba(203, 103, 115, 0.25) 0px 50px 100px -20px, rgba(238, 42, 42, 0.3) 0px 30px 60px -30px;
    }
}

header {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-left: 0;
    padding: 15px 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 30px;
    font-size: 28px;
}

.title {
    margin-bottom: 20px;
    font-size: 22px;
    width: 200px;
    text-align: center;
}

.homeWrapper {
    position: relative;
}

.homeTitle {
    position: absolute;
    font-size: 58px;
    width: 450px;
    text-align: center;
    left: 150px;
    top: 150px
}

.homeBox {
    height: 900px;
    background-image: url('../image/Contacts free icons designed by Freepik-2.png');
    background-position: right top;
    background-repeat: no-repeat;
    margin-right: 100px;
    margin-top: 100px;
}